<div id="page-head">
    <img src="https://media0.giphy.com/media/l4pTnLd6WFyoatZq8/giphy.gif" alt="Dat Burger">
    <h1>Eat Da Burger</h1>
</div>

<div>
    <ul id="my-burgers">
        {{#each burgers}}
        <li id="burger-{{this.id}}">
            <p>
                {{this.id}}. {{this.burger_name}}
                <button data-burgerID="{{this.id}}" class="btn-devour">Devour</button>
            </p>
        </li>
        {{/each}}
    </ul>
</div>

<br />
<br />
<br />

<div id="add-burger">
    <textarea id="burger-input" name="new-burger" cols="30" rows="10" placeholder="Enter a Burger"></textarea>
    <button id="btn-addburger" type="submit">Submit</button>
</div>

<script>

    $(document).ready(function() {
    ConfigureButtons();
});

function ConfigureButtons() {
        $("#btn-addburger").click(function () {
            let newBurger = {
                burgerName: $("#burger-input").val().trim(),
                isDevoured: false
            };

            $.ajax("/burger", {
                type: "POST",
                data: newBurger
            }).then(function () {
                console.log("Burger Added");
                location.reload();
            });
        });


        $(".btn-devour").click(function () {
            let thisID = $(this).attr("data-burgerID").trim();

            let updatedBurger = {
                isDevoured: true
            };

            $.ajax("/burger/" + thisID, {
                type: "PUT",
                data: updatedBurger
            }).then(function () {
                console.log("Burger Devoured!");
                location.reload();
            });
        });
    }

</script>